
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    @import 'tailwindcss/base';
    @import 'tailwindcss/components';
    @import 'tailwindcss/utilities';
/* styles.css */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .hero {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); 
    background-size: cover;
    background-position: center;
  }
  
  .feature-item img {
    max-width: 50px;
  }
  
